.status-bar {
  position: fixed;
  top: 0;
  width: 100%;
  box-sizing: border-box;
}
.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid rgba(155, 155, 155, 0.3);
}
.nav__ul {
  display: flex;
  justify-content: space-between;
}
.nav__link {
  color: #2e363e;
  position: relative;
}
.nav__notification {
  background-color: tomato;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  font-weight: 600;
  position: absolute;
  right: -15px;
  top: -20px;
}
.nav__bar {
  background-color: tomato;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  right: -10px;
}
